<div class="container">
    <div class="row rounded shadow my-5 inner-container">
        <div class="col-lg-3 col-sm-2 px-0 my-5">
            <app-left-panel></app-left-panel>
        </div>
        <div class="col-lg-1 col-1">
        </div>

        <div class="col-lg-7 bg-light my-5">
            <h1 class="text-center my-4 text-secondary text-shadow">All Are Welcome</h1>

            <p>&emsp;BSO extends a warm welcome to generous individuals and volunteers who wish to become members of our 
                organization. Whether you choose to be a member or not, we invite everyone to participate in our regular temple activities,
                where you can accumulate merit and nurture your spiritual growth.</p>
        </div>
    </div>
</div>
<app-footer></app-footer>