

<div class="container aboutBso">
    <div class="row rounded shadow my-5">
        <div class="col-lg-3 col-sm-2 px-0 my-5">
            <app-left-panel></app-left-panel>
        </div>
        <div class="col-lg-1 col-1">
        </div>

        <div class="col-lg-7 bg-light my-5">
            <h1 class="text-center my-4 text-secondary text-shadow">Board of Directors</h1>
                <table class="table table-dark table-striped">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Responsibility</th>
                        <th scope="col">Name</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>President</td>
                        <td>Mr. Ashish Barua</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Vice-president-1</td>
                        <td>Mr. Bivash Baran Chowdhury</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>Vice-president-2</td>
                        <td>Mr. Apollo Barua</td>
                      </tr>
                      <tr>
                        <th scope="row">4</th>
                        <td>General Secretary</td>
                        <td>Mr. Sanath Barua</td>
                      </tr>
                      <tr>
                        <th scope="row">5</th>
                        <td>Organizing Secretary-1</td>
                        <td>Mr. Shantanu Barua</td>
                      </tr>
                      <tr>
                        <th scope="row">6</th>
                        <td>Organizing Secretary-2</td>
                        <td>Mr. Rupayan Barua</td>
                      </tr>
                      <tr>
                        <th scope="row">7</th>
                        <td>Treasurer</td>
                        <td>Mr. Saikat Barua</td>
                      </tr>
                      <tr>
                        <th scope="row">8</th>
                        <td>Assistant Finance Secretary (Asstt. Treasurer)</td>
                        <td>Ms. Mita Barua</td>
                      </tr>
                      <tr>
                        <th scope="row">9</th>
                        <td>Publications and Publicity Secretary-1</td>
                        <td>Ms. Anusree Barua</td>
                      </tr>
                      <tr>
                        <th scope="row">10</th>
                        <td>Publications and Publicity Secretary-2</td>
                        <td>Mr. Ripon Barua</td>
                      </tr>
                      <tr>
                        <th scope="row">11</th>
                        <td>Publications and Publicity Secretary-3</td>
                        <td>Ms. Anti Barua</td>
                      </tr>
                      <tr>
                        <th scope="row">12</th>
                        <td>Member</td>
                        <td>Mr. Uday Shankar Barua</td>
                      </tr>
                      <tr>
                        <th scope="row">13</th>
                        <td>Member</td>
                        <td>Mr. Tapan Barua</td>
                      </tr>
                      <tr>
                        <th scope="row">14</th>
                        <td>Member</td>
                        <td>Mr. Shantanu Barua Manna</td>
                      </tr>
                      <tr>
                        <th scope="row">15</th>
                        <td>Member</td>
                        <td>Ms. Anti Barua</td>
                      </tr>
                      <tr>
                        <th scope="row">16</th>
                        <td>Member</td>
                        <td>Mr. Punya Barua</td>
                      </tr>
                      <tr>
                        <th scope="row">17</th>
                        <td>Member</td>
                        <td>Mr. Ananya Bikash Barua</td>
                      </tr>
                      <tr>
                        <th scope="row">18</th>
                        <td>Member</td>
                        <td>Ms. Shova Barua</td>
                      </tr>
                    </tbody>
                  </table>
        </div>
    </div>
</div>
<app-footer></app-footer>