<div class="container mt-2">
    <div class="row rounded shadow my-4">
      <div class="col-lg-3 col-sm-2 px-0">
        <div class="card shadow">
          <img class="card-img-top;" src="assets/buddha.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Sayings Of The Buddha</h5>
            <p class="card-text">" All tremble at punishment. Life is dear to all. Put yourself in the place of others; kill none nor have another killed. Dhammapada 130 "</p>
            <p>Buddha</p>
          </div>
        </div>
      </div>
      <div class="col-9 bg-light pe-0" album>
        <ejs-carousel [dataSource]="images" class="partial-carousel album" [showPlayButton]="true" [autoPlay]="true" [buttonsVisibility]="'Visible'" [partialVisible]="partialVisible" width="100%">
            <ng-template #itemTemplate let-data>
              <div class="slide-content"></div>
              <figure class="img-container">
                <img [src]="data.url" alt="" style="width:66%;" />
              </figure>
            </ng-template>
        </ejs-carousel>
      </div>
    </div>
</div>

<div class="container home">
    <div class="row rounded shadow my-5">
        <div class="col-lg-3 col-sm-2 px-0 my-5">
          <div class="card ms-5 my-5" style="width: 18rem;">
            <img src="assets/facebook.png" class="card-img-top px-3 py-3" alt="image of buddha">
            <div class="card-body">
              <a href="https://www.facebook.com/BuddhistSocietyOfOntario" class="btn btn-primary">Go To Temple Facebook Page</a>
            </div>
          </div>
        </div>
        <div class="col-1">
        </div>
        <div class="col-7 bg-light my-5">
            <h1 class="text-center">Welcome to BSO</h1>

            <p class="content">Welcome to the Buddhist Society of Ontario (BSO) and the Bangladesh Buddhist Vihara of Toronto (BBVT).
            Our organization was founded by Bangladeshi immigrants who have made Ontario their home, driven by the shared 
            goal of preserving, nurturing, and promoting our cultural and religious values. We extend a warm welcome to anyone interested 
            in learning about our activities and joining our vibrant community </p>
            
            <button routerLink="/bso" class="center">Find More About Us</button>
        </div>
    </div>
</div>

<app-footer></app-footer>