<div class="container aboutBso">
    <div class="row rounded shadow my-5 inner-container">
        <div class="col-lg-3 col-sm-2 px-0 my-5">
            <app-left-panel></app-left-panel>
        </div>
        <div class="col-lg-1 col-1">
        </div>

        <div class="col-lg-7 bg-light my-5">
            <h1 class="text-center my-4 text-secondary text-shadow">About US</h1>

            <p>&emsp;The Buddhist Society of Ontario (BSO) extends its sincere appreciation for your interest in
                visiting our website and investing your valuable time in learning about our organization. </p>
            
            <p>&emsp;BSO was established by Bangladeshi Buddhists who had immigrated to Canada and chose Ontario as their new home. Recognizing the
            importance of preserving, practicing, and promoting their socio-religious culture, they came together under
            one collective vision. BSO was formed in October 2017 and officially received a charitable status in July 6,
            2021 <i>(Registered Charity Number 79314 2936 RR0001).</i></p>
        
            <p>&emsp;In its early years, BSO members gathered to celebrate their religious traditions at Sinhalese and Burmese Buddhist temples. Cultural events took place in the homes of our
            dedicated members.</p>
        
            <p>&emsp;On May 31, 2018, we acquired property at 10 Harrow Street, Mississauga, Ontario, with the
            aim of establishing a dedicated temple. This ambitious project was made possible through the unwavering
            commitment and support of our founding member families. Under the patronage of Ven. Dr. Bhante Saranapala,
            we embarked on the journey to create a place of worship and reflection.</p> 
        
            <p>&emsp;Originally named the 'Toronto Buddhist Monastery and Meditation Centre (TBMMC),' our temple underwent a name change in 
            2023 to become the 'Bangladesh Buddhist Vihara of Toronto (BBVT).'</p>
        
            <p>&emsp;From the very beginning, BSO has been dedicated to serving charitable causes both within Canada and abroad. Our
            initiatives include supporting local food banks, aiding homeless individuals, and providing assistance to disadvantaged
            families overseas.</p>
        
            <p>&emsp;BSO is managed by a dedicated committee and relies on the generous financial support of our member families. We are 
            grateful for any contributions from our visitors and issue official tax receipts at the end of each year.</p>
        
            <p>&emsp;We invite you to explore our website further to learn more about our activities, events, and how you can get involved in our
            vibrant and compassionate community.</p><br>
        
            <h6>Thank you for being a part of our journey</h6>
        </div>
    </div>
</div>
<app-footer></app-footer>