<div class="container donate">
    <div class="row rounded shadow my-5 inner-container">
        <div class="col-lg-3 col-sm-2 px-0 my-5">
            <app-left-panel></app-left-panel>
        </div>
        <div class="col-lg-1 col-1">
        </div>

        <div class="col-lg-7 bg-light my-5">
            <h1 class="text-center my-4 text-secondary text-shadow">Donation and Fundraising</h1>
            <p>
                <b>Online Donation:</b>
                You can e-transfer your contribution to <span class="bold">Buddhist Society of Ontario</span>
                by email to <i>torontobd.monastery@gmail.com.</i>
            </p>

            <p>
                <b>Cheque Payments:</b>
                Accept donations in the form of cheques made payable to <span class="bold">Buddhist Society of Ontario</span> managing
                the temple activities. Our mailing address is <i>10 Harrow Street, Mississauga, Ontario, L4T1J3, Canada.</i>
            </p>

            <p>
                <b>Fundraising Events:</b>
                Organize fundraising events such as charity dinners, cultural programs, or community gatherings where
                attendees can donate towards the temple's expenses.
            </p>

            <p>
                <b>Membership Programs:</b>
                Establish a membership program where individuals can become regular donors by contributing a set 
                amount on a monthly or yearly basis.
            </p>

            <p>
                <b>Promote Donation Opportunities:</b>
                Utilize social media, email newsletters, temple bulletins, and other communication channels to 
                promote donation opportunities and raise awareness about the temple's financial needs.
            </p>

            <p>
                <b>Tax Receipts:</b>
                BSO provides tax receipts for donations to encourage charitable giving and compliance with tax 
                regulations.
            </p>

            <p>&emsp;BSO maintains transparency in all financial matters by providing regular updates on how 
                donations are being used and ensuring accountability in managing temple funds. </p>
            
            <p>&emsp;BSO is implementing these strategies and leveraging various payment methods. 
                So, you can facilitate donations to support the regular activities and expenses of our temple.</p>
        </div>
    </div>
</div>