<div class="container aboutBso">
        <div class="row rounded shadow my-5">
            <div class="col-lg-3 col-sm-2 px-0 my-5">
                <app-left-panel></app-left-panel>
            </div>
            <div class="col-lg-1 col-1">
            </div>
    
            <div class="col-lg-7 bg-light my-5">
                <h1 class="text-center my-4 text-secondary text-shadow">Bangladesh Buddhist Vihara of Toronto (BBVT)</h1>
    
                <p>&emsp;This is the first Buddhist temple in Canada established by the Bangladeshi origin immigrants. Who are deeply inspired by 
                    the Venerable Bhante Dr. Saranapala. </p>
                
                <p>&emsp;After the establishment of the temple in 2018, we have been honored to host various religious activities including
                    meditation sessions each year, including the observance of the three-month rainy retreat by renowned monks from different
                    countries. Here is a list of esteemed monks who have undertaken this retreat at our temple:</p>
            
                <p>&emsp;In 2019, we welcomed Venerable Indiparape Dhammasiri Maha Thero from Sri Lanka.rly years, BSO members gathered to celebrate their religious traditions at Sinhalese and Burmese Buddhist temples. Cultural events took place in the homes of our
                dedicated members.</p>
            
                <p>&emsp;In 2020, Venerable Shilabhadra Mahathero from Bangladesh graced our temple.</p> 
            
                <p>&emsp;The year 2021 saw the presence of Venerable Bhante Kusala from the USA.</p>
            
                <p>&emsp;In 2022, we were blessed by the presence of Venerable Buddhananda Mahathero from Bangladesh.</p>
            
                <p>&emsp;For the year 2023, we are honored to host Venerable Jinapal Mahathero from Bangladesh and Venerable M. Dharmaratna 
                    Mahathero from India.</p>
            
                <p>&emsp;These revered monks have contributed to the spiritual enrichment of our temple and community through their dedicated
                    practice and teachings. We are deeply grateful for their presence and guidance.</p><br>
            </div>
        </div>
    </div>
<app-footer></app-footer>