
<div class="container aboutBso">
  <div class="row rounded shadow my-5">
      <div class="col-lg-3 col-sm-2 px-0 my-5">
          <app-left-panel></app-left-panel>
      </div>
      <div class="col-lg-1 col-1">
      </div>

      <div class="col-lg-7 bg-light my-5 text-center">
          <h1 class="my-4 text-secondary text-shadow">Contact</h1>
          <h6>10 Harrow Street<br>
              Mississauga,ON<br>
              L4T 1J3<br>
              Canada<br>
              torontobd.monastery@gmail.com<br>
              admin@bso-toronto.ca<br>
              905-678-1104
          </h6>
          <app-email-form></app-email-form>
      </div>
  </div>
</div>
<app-footer></app-footer>




<span class="text-center">
    
</span>

<div class="container">
    <div class="row rounded">
      <div class="col-3">
        <app-email-form></app-email-form>
      </div>
    </div>
</div>

