<div class="container">
  <div class="row rounded shadow my-5 inner-container">
    <div class="col-lg-3 col-sm-2 px-0 my-5">
        <app-left-panel></app-left-panel>
    </div>

    <div class="col-lg-1 col-1">
    </div>

    <div class="col-lg-7 bg-light my-5">
      <h1 class="text-center my-4 text-secondary text-shadow">Trustee</h1>
      Board of trustee is comprised of following six persons:
      <table class="table table-dark table-striped mt-2">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Venerable Bhante Dr. Saranapala</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Mr. Shurid Barua</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Mrs. Minati Prabha Chowdhury</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>Mr. Manoj Barua </td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>One member of guarantor’s family of BSO property</td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td>One member of guarantor’s family of BSO property</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<app-footer></app-footer>